
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 80%;
  padding: 10px;
  background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
  background-position: left top, right bottom;
  background-size: 50%;
  background-repeat: no-repeat, no-repeat;
  box-shadow: 1em 1em 1em 1em rgba(0, 0, 0, 0.1);
}

.headline-ratings {
  display: flex;
  margin-top: 20px;
}

.ratings {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.stars {
  padding: 10px;
  background-color: #F7F2F7;
  margin: 5px;
  border-radius: 5px;
}

.stars span {
  color: #512051;
  font-weight: bold;
}

.rate2 {
  margin-left: 50px;
  margin-right: -50px;
}

.rate3 {
  margin-left: 100px;
  margin-right: -90px;
}

.headline {
  max-width: 50%;
  margin-left: 50px;
}

.headline>h1 {
  width: 80%;
  font-weight: 900;
  font-size: 50px;
  font-family: sans-serif;
  line-height: 1;
  margin-top: 20px;
  color: #512051;
}

.headline>p {
  width: 80%;
  margin-top: 20px;
  color: #927B91;
  font-weight: 400;
}

.testimonials {
  display: flex;
  gap: 1em;
  padding-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.users {
  background-color: #512051;
  padding: 10px;
  border-radius: 5px;
}

.profile {
  display: flex;
}

.testimonials img {
  display: block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.buyer-details {
  padding-left: 10px;
}

.name {
  display: block;
  font-size: 13px;
  font-weight: 300;
  padding-top: 10px;
  color: #FFFFFF;
}

.status {
  display: block;
  font-size: 13px;
  font-weight: 300;
  color: #EE69A4;
}

.users p {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: lighter;
}

.user2 {
  margin-top: 15px;
  margin-bottom: -25px;
}

.user3 {
  margin-top: 25px;
  margin-bottom: -40px;
}

.testimonials p {
  padding-top: 10px;
}

@media screen and (max-width:480px) {
  body {
    width: 100vw;
    min-height: 100vh;
  }

  .container {
    width: auto;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url("file:///C:/Users/PC/Desktop/Web%20Development/project1/bg-pattern-top-mobile.svg"), url("file:///C:/Users/PC/Desktop/Web%20Development/project1/bg-pattern-bottom-mobile.svg");
    background-position: left top, right bottom;
    background-size: 80%;
    background-repeat: no-repeat, no-repeat;
  }

  .headline {
    max-width: 100%;
    margin-left: 0px;
  }

  .headline>h1 {
    width: 100vw;
    height: 100%;
    text-align: center;
    font-weight: 700;
  }

  .headline>p {
    text-align: center;
    width: auto;
    font-size: 1.2rem;
  }

  .headline-ratings {
    flex-direction: column;
  }

  .ratings {
    width: 100%;
    padding-top: 10px;
  }

  .stars {
    padding: 40px;
    text-align: center;
  }

  .stars span {
    display: block;
  }

  .rate1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .rate2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .rate3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .testimonials {
    flex-direction: column;
    gap: 1em;
    padding-top: 30px;
    width: 100%;
    margin-left: 0;
  }

  .user1 {
    margin-bottom: -11px;
  }

  .users {
    padding: 30px;
  }


  